*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
}

img{
    width: 350px;
    padding: 20px;
    border-radius: 40px;
}

main{
    background-color: hsl(0, 0%, 100%);
    width: 350px;
    height: 500px;
    margin-left: 530px;
    margin-top: 80px;
    border-radius: 20px;
}

h3{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    color:hsl(218, 44%, 22%);
    margin: 0px;
}

p{
    text-align: center;
    margin: 30px;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}


@media (max-width: 375px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body{
        background-color: hsl(212, 45%, 89%);
    }
    
    img{
        width: 300px;
        padding: 20px;
        border-radius: 30px;
    }
    
    main{
        display: block;
        background-color: hsl(0, 0%, 100%);
        width: 300px;
        height: 500px;
        margin-left: 30px;
        margin-top: 2.8em;
        border-radius: 15px;
    }
    
    h3{
        font-family: 'Outfit', sans-serif;
        text-align: center;
        color:hsl(218, 44%, 22%);
        margin: 10px;
    }
    
    p{
        text-align: center;
        margin: 20px;
        font-size: 15px;
        color: hsl(220, 15%, 55%);
    }
    

}
